/*
 * @file wui-datepicker-0.5.root.css
 * @class WUIDatepicker
 * @version 0.5
 * @author Sergio E. Belmar V. (wuijs.project@gmail.com)
 * @copyright Sergio E. Belmar V. (wuijs.project@gmail.com)
 */

:root {

	/* wui-datepicker */

	--wui-datepicker-borderradius: 10px;
	--wui-datepicker-borderwidth: 0px;
	--wui-datepicker-bordercolor: transparent;
	--wui-datepicker-bgcolor: #f6f6fa;
	--wui-datepicker-opener-iconsize: 30px;
	--wui-datepicker-opener-iconcolor-out: #000;
	--wui-datepicker-opener-iconcolor-over: #1e90ff;
	--wui-datepicker-opener-iconcolor-disabled: #d5dce3;
	--wui-datepicker-opener-openicon-src: none;
	--wui-datepicker-opener-closeicon-src: none;
	--wui-datepicker-viewinput-paddingleft: 10px;
	--wui-datepicker-viewinput-textcolor-out: #2d3a47;
	--wui-datepicker-viewinput-textcolor-over: #1f2937;
	--wui-datepicker-viewinput-textcolor-disabled: #d5dce3;
	--wui-datepicker-box-shadowcolor: #959da5;
	--wui-datepicker-box-borderradius: 15px;
	--wui-datepicker-box-bordercolor: #f0f0f3;
	--wui-datepicker-box-bgcolor: rgb(from #fdfdfe r g b / 100%);
	--wui-datepicker-box-period-iconsize: 20px;
	--wui-datepicker-box-period-iconcolor-out: #000;
	--wui-datepicker-box-period-iconcolor-over: #1e90ff;
	--wui-datepicker-box-period-iconcolor-disabled: #d5dce3;
	--wui-datepicker-box-period-upicon-src: none;
	--wui-datepicker-box-period-downicon-src: none;
	--wui-datepicker-box-paging-iconsize: 26px;
	--wui-datepicker-box-paging-iconcolor-out: #1e90ff;
	--wui-datepicker-box-paging-iconcolor-over: #1e90ff;
	--wui-datepicker-box-paging-iconcolor-disabled: #d5dce3;
	--wui-datepicker-box-paging-previcon-src: none;
	--wui-datepicker-box-paging-nexticon-src: none;
	--wui-datepicker-box-month-titlecolor: #888;
	--wui-datepicker-box-month-bgcolor-today: #f0f0f3;
	--wui-datepicker-box-month-bgcolor-over: rgb(from #1e90ff r g b / 20%);
	--wui-datepicker-box-month-bgcolor-selected: #1e90ff;
	--wui-datepicker-box-month-textcolor-out: #000;
	--wui-datepicker-box-month-textcolor-over: #1e90ff;
	--wui-datepicker-box-month-textcolor-selected: #fff;
	--wui-datepicker-box-day-bgcolor-today: #f0f0f3;
	--wui-datepicker-box-day-bgcolor-over: rgb(from #1e90ff r g b / 20%);
	--wui-datepicker-box-day-bgcolor-selected: #1e90ff;
	--wui-datepicker-box-day-textcolor-out: #000;
	--wui-datepicker-box-day-textcolor-over: #1e90ff;
	--wui-datepicker-box-day-textcolor-selected: #fff;
	--wui-datepicker-box-button-textcolor-out: #1e90ff;
	--wui-datepicker-box-button-textcolor-over: #1e90ff;
	--wui-datepicker-mobile-overlay-bgcolor: rgb(from #010203 r g b / 20%);
}
