/*
 * @file wui-selectpicker-0.5.root.css
 * @class WUISelectpicker
 * @version 0.5
 * @author Sergio E. Belmar V. (wuijs.project@gmail.com)
 * @copyright Sergio E. Belmar V. (wuijs.project@gmail.com)
 */

:root {

	/* wui-selectpicker */

	--wui-selectpicker-borderradius: 10px;
	--wui-selectpicker-borderwidth: 0px;
	--wui-selectpicker-bordercolor: transparent;
	--wui-selectpicker-bgcolor: #f6f6fa;
	--wui-selectpicker-opener-iconsize: 30px;
	--wui-selectpicker-opener-iconcolor-out: #000;
	--wui-selectpicker-opener-iconcolor-over: #1e90ff;
	--wui-selectpicker-opener-iconcolor-disabled: #d5dce3;
	--wui-selectpicker-opener-openicon-src: none;
	--wui-selectpicker-opener-closeicon-src: none;
	--wui-selectpicker-viewinput-paddingleft: 10px;
	--wui-selectpicker-viewinput-textcolor-out: #2d3a47;
	--wui-selectpicker-viewinput-textcolor-over: #1f2937;
	--wui-selectpicker-viewinput-textcolor-disabled: #d5dce3;
	--wui-selectpicker-box-shadowcolor: #959da5;
	--wui-selectpicker-box-borderradius: 15px;
	--wui-selectpicker-box-bordercolor: #f0f0f3;
	--wui-selectpicker-box-bgcolor: #fdfdfe;
	--wui-selectpicker-box-scroll-bgcolor-out: rgb(from #353a40 r g b / 20%);
	--wui-selectpicker-box-scroll-bgcolor-over: rgb(from #353a40 r g b / 40%);
	--wui-selectpicker-box-option-borderradius: 10px;
	--wui-selectpicker-box-option-bordercolor-out: #f0f0f3;
	--wui-selectpicker-box-option-bordercolor-over: #f0f0f3;
	--wui-selectpicker-box-option-bgcolor-out: transparent;
	--wui-selectpicker-box-option-bgcolor-over: #f6f6fa;
	--wui-selectpicker-box-option-iconsize: 24px;
	--wui-selectpicker-box-option-iconcolor-out: #1e90ff;
	--wui-selectpicker-box-option-iconcolor-over: #1e90ff;
	--wui-selectpicker-box-option-iconcolor-selected: #1e90ff;
	--wui-selectpicker-box-option-iconcolor-disabled: rgb(from #d5dce3 r g b / 40%);
	--wui-selectpicker-box-option-checkicon-src: none;
	--wui-selectpicker-box-option-textcolor-empty: rgb(from #2d3a47 r g b / 60%);
	--wui-selectpicker-box-option-textcolor-out: #2d3a47;
	--wui-selectpicker-box-option-textcolor-over: #2d3a47;
	--wui-selectpicker-box-option-textcolor-selected: #1e90ff;
	--wui-selectpicker-box-option-textcolor-disabled: rgb(from #d5dce3 r g b / 40%);
	--wui-selectpicker-box-button-bordercolor: #f0f0f3;
	--wui-selectpicker-box-button-textcolor-out: #1e90ff;
	--wui-selectpicker-box-button-textcolor-over: #1e90ff;
	--wui-selectpicker-mobile-overlay-bgcolor: rgb(from #010203 r g b / 20%);
	--wui-selectpicker-mobile-box-width: 280px;
	--wui-selectpicker-mobile-box-borderradius: 17px;
}
